{% extends "compartidos/base.html" %}
{% load static %}
{% block head %}<title>Entradas</title>{% endblock head %}


{% block h1_header %}
Entradas del blog
{% endblock h1_header %}

{% block sub_header %}
Transitando la movilidad sustentable
{% endblock sub_header %}


{% block main %}
<section class="bg-light">
    <div class="container">
            <table class="table table-borderless col-md-5 fst-italic">
                <form action="" enctype="multipart/form-data">
                    <p class="lead">
                        <h3>Formulario de busqueda de publicaciones</h3>
                        <table>
                        {{formulario}}
                    </table>
                    <input type="submit" value="Buscar">
                    </p>
                </form>
                {% if post_encontrados %}
                <ul>
                    {% for post in post_encontrados %}
                        <li>
                            <a href={% url "detalles_post" post.id %}>{{post}}</a>
                            || <a href={% url "editar_post" post.id %}>Editar</a>
                             || <a href={% url "eliminar_post" post.id %}>Eliminar</a>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <div class="p-3 p-lg-4 lead fst-italic">
                        <p>No hay publicaciones creadas en este momento.</p>
                    </div>
                {% endif %}
            </table>
    <div>
</section>

{% endblock main %} 