{% extends "compartidos/base.html" %}
{% load static %}
{% block head %}<title>Entradas</title>{% endblock head %}


{% block h1_header %}
Entradas del blog
{% endblock h1_header %}

{% block sub_header %}
Transitando la movilidad sustentable
{% endblock sub_header %}


{% block main %}
<div class="d-grid gap-2">
    <a class="btn btn-success btn-lg" href={% url "crear_post" %}>Nuevo post</a>
    <br>
    <a class="btn btn-primary btn-lg" href={% url "lista_post" %}>Publicaciones</a>
</div>   

{% endblock main %} 